@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;700&family=Inter:wght@300;400;700;800&display=swap');


*, *::before, *::after {
   box-sizing: border-box;
}

:root {
   --font-worksSans-Comfortaa: 'Comfortaa', cursive;
   --font-worksSans-Inter: 'Inter', sans-serif;
   --basic-color: #2a2828;
   --header-topColor: #ad8754;
}

body {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 18px;
   font-family: var(--font-worksSans-Comfortaa);
}

a {
   text-decoration: none;
   color: inherit;
   font-family: inherit;
   display: inline-block;
}

span {
   display: inline-block;
}

ul, ol, li {
   list-style: none;
   font-family: inherit;
   margin: 0;
   padding: 0;
}

.container, .header__container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   background-image: url(../images/header-bg.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom 150px;
   min-height: 100vh;
   position: relative;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_wrapper {
   position: fixed;
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
   width: 100%;
   background-color: transparent;
   transition: all 0.3s ease-in-out;
}

.header__container {
   width: 1230px;
   padding: 0 15px;
   display: flex;
}

.logo {
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo img {
   width: 70px;
   height: 70px;
   object-fit: cover;
   border-radius: 50%;
}

.logo span {
   font-size: 20px;
   color: var(--header-topColor);
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.header_menu .header_menu-list {
   display: flex;
   gap: 50px;
   align-items: center;
   font-weight: 600;
   color: var(--header-topColor);
}

.phone {
   color: var(--header-topColor);
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
}

.header__content {
   position: absolute;
   padding: 40px 70px;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 900px;
   text-align: center;
   background-color: #c8bbaf62;
   color: #fff;
   box-shadow: 0 0 10px #bcb5b0;
   transition: 0.5s;
}

.header__content:hover {
   transform: translateY(-50%) scale(1.05);
   box-shadow: 0 0 15px #837b75;
}

.title {
   font-size: 80px;
   line-height: 100px;
   margin-bottom: 30px;
   font-weight: 400;
   font-family: 'Aboreto', sans-serif;

}

.header__content-text {
   width: 500px;
   margin: 0 auto;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 20px;
   letter-spacing: 1px;
   word-spacing: 4px;
}

.conection {
   width: 150px;
   padding: 10px;
   text-align: center;
   background-color: transparent;
   border: 2px solid #fff;
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 600;
   transition: all 0.3s ease-in-out;
}

.conection:hover {
   background-color: #fff;
   border: 2px solid transparent;
   color: var(--header-topColor);
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Inter', sans-serif; */