@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;700&family=Inter:wght@300;400;700;800&display=swap');


*, *::before, *::after {
   box-sizing: border-box;
}

/* var======================================================================= */
:root {
   --font-worksSans-Comfortaa: 'Comfortaa', cursive;
   --font-worksSans-Inter: 'Inter', sans-serif;
   --basic-color: #2a2828;
   --header-topColor: #ad8754;
}

body {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 18px;
   overflow-x: hidden;
   font-family: var(--font-worksSans-Comfortaa);
}

a {
   text-decoration: none;
   color: inherit;
   font-family: inherit;
   display: inline-block;
}

span {
   display: inline-block;
}

ul, ol, li {
   list-style: none;
   font-family: inherit;
   margin: 0;
   padding: 0;
}

img {
   display: inline-block;
}

/* social ========================================================================== */
.social {
   position: fixed;
   z-index: 5;
   right: 0;
   top: 50%;
   border-radius: 20px;
   background-color: #936d5132;
   box-shadow: 0 0 10px grey;
   transform: translateY(-50%) translateX(70%);
   transition: 0.4s;
   overflow: hidden;
}

.social.active {
   position: fixed;
   z-index: 5;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 20px;
   background-color: #936d5132;
   box-shadow: 0 0 10px grey;
}

.social__wrap {
   display: flex;
   justify-content: center;
}

.social__wrap ul.social__menu {
   display: flex;
   gap: 10px;
   justify-content: space-between;
   flex-direction: column;
   z-index: 20;
   padding: 10px 5px 10px 30px;
}

.social__wrap ul a img {
   width: 30px;
}

.errow img {
   position: absolute;
   display: inline-block;
   top: 50%;
   transform: translateY(-50%) rotate(180deg);
   left: 2px;
   width: 14px;
   height: 14px;
   object-fit: cover;
   z-index: 30;
   transition: 0.4s;
   cursor: pointer;
}

.errow.active img {
   position: absolute;
   display: inline-block;
   top: 50%;
   transform: translateY(-50%);
   left: 5px;
   width: 12px;
   height: 12px;
   object-fit: cover;
   z-index: 30;
}




/* social end ========================================================================== */

.container, .header__container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

/* header-top ========================================================================== */

.header {
   background-image: url(../images/header-bg.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom bottom;
   min-height: 100vh;
   position: relative;
}

.header__container {
   top: 0;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1230px;
   padding: 0 15px;

}

.header_wrapper {
   position: fixed;
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
   width: 100%;
   background-color: transparent;
   transition: all 0.3s ease-in-out;
   z-index: 100;
}

.logo {
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo img {
   width: 70px;
   height: 70px;
   object-fit: cover;
   border-radius: 50%;
}

.logo span {
   font-size: 20px;
   color: var(--header-topColor);
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.header_menu .header_menu-list {
   display: flex;
   gap: 50px;
   align-items: center;
   font-weight: 600;
   color: var(--header-topColor);
}

.phone {
   color: var(--header-topColor);
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
}

/* header-top end ========================================================================== */

/* header-content  ========================================================================== */


.header__content {
   position: absolute;
   padding: 40px 70px;
   top: 60%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 900px;
   text-align: center;
   background-color: #c8bbaf62;
   color: rgb(27, 24, 24);
   box-shadow: 0 0 10px #bcb5b0;
}

.header__content:hover {
   box-shadow: 0 0 15px #837b75;
}

.title {
   font-size: 80px;
   line-height: 100px;
   margin-bottom: 30px;
   font-weight: 400;
   font-family: 'Aboreto', sans-serif;

}

.header__content-text {
   width: 500px;
   margin: 0 auto;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 20px;
   letter-spacing: 1px;
   word-spacing: 4px;
}

.conection {
   width: 150px;
   padding: 10px;
   color: var(--header-topColor);
   text-align: center;
   background-color: transparent;
   border: 2px solid var(--header-topColor);
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 600;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.conection:hover {
   background-color: #fff;
   border: 2px solid transparent;
   color: var(--header-topColor);
}

/* header-content end ========================================================================== */


/* about ======================================================================================== */

.about {
   font-family: var(--font-worksSans-Comfortaa);
   padding-bottom: 100px;
   padding-top: 100px;
   background: rgb(246, 228, 135);
   background: linear-gradient(180deg, rgba(246, 228, 135, 0.15449929971988796) 2%, rgba(252, 251, 246, 1) 100%);
}

.about__title.animation {
   font-size: 30px;
   line-height: 36px;
   padding-bottom: 40px;
   margin-bottom: 70px;
   position: relative;
   display: inline-block;
   opacity: 0;
   transform: translateX(-100px);
   transition: all 1.5s;
}

.about__title.animation.element-show {
   font-size: 30px;
   line-height: 36px;
   padding-bottom: 40px;
   margin-bottom: 70px;
   position: relative;
   display: inline-block;
   transform: translateX(0);
   opacity: 1;
}

.about__sub-title {
   position: absolute;
   display: inline-block;
   font-size: 20px;
   line-height: 24px;
   color: var(--header-topColor);
   bottom: 0;
   right: 0;
}

.about__txt.animation {
   font-size: 18px;
   line-height: 22px;
   word-spacing: 5px;
   max-width: 800px;
   margin: 0 auto;
   margin-bottom: 100px;
   opacity: 0;
   transform: translateX(100px);
   animation-delay: 2s;
   transition: 1.2s;
}

.about__txt.animation.element-show {
   font-size: 18px;
   line-height: 22px;
   word-spacing: 5px;
   max-width: 800px;
   margin: 0 auto;
   margin-bottom: 100px;
   transform: translateX(0);
   opacity: 1;
}

.about__info {
   text-align: center;
   display: flex;
   justify-content: space-between;
   padding-top: 70px;
   border-top: 1px solid rgb(80, 74, 74);
}

.about__info-item {
   padding: 15px;

}

.about__info-item.animation {
   position: relative;
   transition: all 1s;
}

#item_1 {
   transform: translateY(-80px);
   opacity: 0;
}

#item_2 {
   transform: translateY(80px);
   opacity: 0;
}

#item_3 {
   transform: translateY(-80px);
   opacity: 0;
}

#item_4 {
   transform: translateY(80px);
   opacity: 0;
}

#item_1.element-show,
#item_2.element-show,
#item_3.element-show,
#item_4.element-show {
   transform: translateY(0);
   opacity: 1;
}

.about__info-item img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   object-position: center;
   margin-bottom: 20px;
}

/* about end ======================================================================================== */

/* gallery =========================================================================================== */

/* .element-show */

.gallery {
   padding-top: 50px;
   padding-bottom: 80px;
   background: rgb(232, 190, 104);
   background: linear-gradient(0deg, rgba(232, 190, 104, 0.36458333333333337) 12%, rgba(199, 122, 14, 0.5354516806722689) 100%);
}

.gallery__title.animation {
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 30px;
   position: relative;
   display: inline-block;
   transition: all 1.5s;
   opacity: 0;
   transform: translateX(-50px);
}

.gallery__title.animation.element-show {
   opacity: 1;
   transform: translateX(0);
}

.gallery__text {
   max-width: 500px;
   padding: 30px 20px;
   box-shadow: 0 0 15px rgba(103, 101, 101, 0.405);
   margin-bottom: 50px;
}

.gallery_box {
   position: relative;
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   align-items: center;
   padding-top: 60px;
   padding-bottom: 60px;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   gap: 20px 20px;
   z-index: 5;
   perspective: 1200px;
}

.gallery_box::before {
   content: "";
   top: 0;
   width: 400px;
   min-height: 100%;
   position: absolute;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.405);
   z-index: -1;
}

.gallery_img {
   width: 250px;
   height: 250px;
   object-fit: cover;
   cursor: pointer;
   transition: all .2s;
   box-shadow: 0 0 10px grey;
}

.show-img {
   display: none;
}

.show-img.active {
   max-width: 1000px;
   height: 80vh;
   display: block;
   position: fixed;
   bottom: 50px;
   z-index: 50;
   overflow: hidden;
}

.show-img img {
   width: 100%;
   height: 100%;
   cursor: pointer;
   object-fit: cover;
   z-index: 60;
}

.arrow-left {
   content: '';
   position: absolute;
   background-color: #2a282844;
   width: 50px;
   height: 100%;
   left: 0px;
   top: 0;
   z-index: 90;
   cursor: pointer;
   transition: all .4s;
}

.arrow-right {
   content: '';
   position: absolute;
   background-color: #2a282844;
   width: 50px;
   height: 100%;
   right: 0px;
   top: 0;
   z-index: 90;
   cursor: pointer;
   transition: all .4s;
}

.arrow-left:hover {
   background-color: #2a282882;
}

.arrow-right:hover {
   background-color: #2a282882;
}

.overlay.active {
   background-color: #2a282843;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 20;
}

/* gallery end =========================================================================================*/