@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;700&family=Inter:wght@300;400;700;800&display=swap');


*, *::before, *::after {
   box-sizing: border-box;
}

/* var======================================================================= */
:root {
   --font-worksSans-Comfortaa: 'Comfortaa', cursive;
   --font-worksSans-Inter: 'Inter', sans-serif;
   --basic-color: #2a2828;
   --header-topColor: #ad8754;
}

body {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 18px;
   overflow-x: hidden;
   font-family: var(--font-worksSans-Comfortaa);
}

a {
   text-decoration: none;
   color: inherit;
   font-family: inherit;
   display: inline-block;
}

span {
   display: inline-block;
}

ul, ol, li {
   list-style: none;
   font-family: inherit;
   margin: 0;
   padding: 0;
}

/* social ========================================================================== */
.social {
   position: fixed;
   z-index: 5;
   right: 0;
   top: 50%;
   border-radius: 20px;
   background-color: #936d5132;
   box-shadow: 0 0 10px grey;
   transform: translateY(-50%) translateX(70%);
   transition: 0.4s;
   overflow: hidden;
}

.social.active {
   position: fixed;
   z-index: 5;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 20px;
   background-color: #936d5132;
   box-shadow: 0 0 10px grey;
}

.social__wrap {
   display: flex;
   justify-content: center;
}

.social__wrap ul.social__menu {
   display: flex;
   gap: 10px;
   justify-content: space-between;
   flex-direction: column;
   z-index: 20;
   padding: 10px 5px 10px 30px;
}

.social__wrap ul a img {
   width: 30px;
}

.errow img {
   position: absolute;
   display: inline-block;
   top: 50%;
   transform: translateY(-50%) rotate(180deg);
   left: 2px;
   width: 14px;
   height: 14px;
   object-fit: cover;
   z-index: 30;
   transition: 0.4s;
   cursor: pointer;
}

.errow.active img {
   position: absolute;
   display: inline-block;
   top: 50%;
   transform: translateY(-50%);
   left: 5px;
   width: 12px;
   height: 12px;
   object-fit: cover;
   z-index: 30;
}




/* social end ========================================================================== */

.container, .header__container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

/* header-top ========================================================================== */

.header {
   background-image: url(../images/header-bg.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom bottom;
   min-height: 100vh;
   position: relative;
}

.header__container {
   top: 0;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1230px;
   padding: 0 15px;

}

.header_wrapper {
   position: fixed;
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
   width: 100%;
   background-color: transparent;
   transition: all 0.3s ease-in-out;
   z-index: 100;
}

.logo {
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo img {
   width: 70px;
   height: 70px;
   object-fit: cover;
   border-radius: 50%;
}

.logo span {
   font-size: 20px;
   color: var(--header-topColor);
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.header_menu .header_menu-list {
   display: flex;
   gap: 50px;
   align-items: center;
   font-weight: 600;
   color: var(--header-topColor);
}

.phone {
   color: var(--header-topColor);
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
}

/* header-top end ========================================================================== */

/* header-content  ========================================================================== */


.header__content {
   position: absolute;
   padding: 40px 70px;
   top: 60%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 900px;
   text-align: center;
   background-color: #c8bbaf62;
   color: rgb(27, 24, 24);
   box-shadow: 0 0 10px #bcb5b0;
}

.header__content:hover {
   box-shadow: 0 0 15px #837b75;
}

.title {
   font-size: 80px;
   line-height: 100px;
   margin-bottom: 30px;
   font-weight: 400;
   font-family: 'Aboreto', sans-serif;

}

.header__content-text {
   width: 500px;
   margin: 0 auto;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 20px;
   letter-spacing: 1px;
   word-spacing: 4px;
}

.conection {
   width: 150px;
   padding: 10px;
   color: var(--header-topColor);
   text-align: center;
   background-color: transparent;
   border: 2px solid var(--header-topColor);
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 600;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.conection:hover {
   background-color: #fff;
   border: 2px solid transparent;
   color: var(--header-topColor);
}

/* header-content end ========================================================================== */


/* about ======================================================================================== */

.about {
   padding-top: 80px;
   height: 50vh;
   background-color: #e3e1d9;
   font-family: 'Comfortaa', cursive;
}



/* about end ======================================================================================== */